<link rel="import" href="../bower_components/polymer/polymer.html" />
<script src="../js/login-page.js" type="text/javascript"></script>
<link href="../css/login-page.css" rel="stylesheet" type="text/css"/>
<link rel="import" href="../bower_components/paper-button/paper-button.html" />
<link rel="import" href="../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../bower_components/iron-form/iron-form.html" />
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html" />
<dom-module id="login-page" attributes="url">
    <script>var url = "https://uat-analytics.thecarecloud.com/netlink/j_spring_security_check"</script>
        <template>
            <hgroup>
              <h1>Netlink Login Form</h1>
            </hgroup>
            <form form is="iron-form" id="form" method="post" action="https://uat-analytics.thecarecloud.com/netlink/j_spring_security_check">
                <div><paper-input id="txtUsername" label="Username" value="{{username}}" floatinglabel></paper-input></div>
                <div><paper-input id="txtPassword" label="Password" type="password" value="{{password}}" floatinglabel></paper-input></div>
                <div>
                <paper-button type="submit" label="Custom Submit" raised>Log In</paper-button> 
                </div>
            </form>
            <footer><a href="http://www.polymer-project.org/" target="_blank"><img src="../images/Netlink_logo.png" ></a>
              <p>You Gotta Love <a href="http://www.netlink.com/" target="_blank">Netlink</a></p>
            </footer>
           
    
        </template>                          
  

    
    <script>
        Polymer({
           is: "login-page",
            submitForm: function(){
                 document.getElementById('form').submit();
                 console.log("Submitted");
             }
        });
    </script>

</dom-module>

<!-- https://uat-analytics.thecarecloud.com/netlink/plugin/cda/api/doQuery?path=/public/UAT/Landing Page/Telecom Business Brain/Categories/Network Management/Network Insights.cda&dataAccessId=DonutChart&parampWeekEnd='26-Apr-2015'&parampDate='All'&parampFlag='All'&parampDistrict='All'&parampCity='All'&parampHour='All'&parampBTS='All'&parampDonut='All'  -->